.site-index{
    float: right;
    height: 100vh;
    width: calc(100% - 30vh);
    background-image: url(../img/pp2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
    }
    
    .row{
        height: 100vh;
        min-height: 800px;
    }
}